body{
    background-color: #262626;
}
h1{
    color: aliceblue;
    text-align: center;
    font-family: Mulish;

}
h2{
    color: aliceblue;
    text-align: center;
    font-family: Mulish;

}
h3{
    color: aliceblue;
    text-align: center;
    font-family: Mulish;

}
h4{
    color: aliceblue;
    text-align: center;
    font-family: Mulish;

}
h5{
    color: aliceblue;
    text-align: center;
    font-family: Mulish;

}
h6{
    color: aliceblue;
    text-align: center;
    font-family: Mulish;
}
table{
    margin-left: 14cm;
    
}
tr{
    background-color: aliceblue;
    font-family: Mulish;
}

.white {
    background-color: aliceblue;
}
.black {
    background-color: #262626;
    color: white;
}

a {
    color:blueviolet;


}
th, td {
    text-align: center;
    padding: 4px;
}
